[submodule "img"]
	path = img
	url = git@github.com:IoTcat/img-api.git
[submodule "msc"]
	path = msc
	url = git@github.com:IoTcat/msc-api.git
[submodule "words"]
	path = words
	url = git@github.com:IoTcat/words-api.git
[submodule "v2ray"]
	path = v2ray
	url = git@github.com:IoTcat/v2ray-api.git
